<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D33BF8DE1C6CE62F00CAE18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34AE8D71C6BA44D00CE63D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34AE8EE1C6BA44D00CE63D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34AE8F91C6BA44E00CE63D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
